.control-row {
  display: grid;
  box-shadow: 0 1px 4px #2f9b9b;
  border-radius: 10px;
  grid-auto-flow: column;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 5px;
  align-items: center;
}

@media (max-width: 767px) {
  .control-row {
    grid-auto-flow: row;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 10px;
}

.date button {
  padding: 2px;
}
.goes {
  display: flex;
  align-items: center;
  gap: 5px;
}
@media (max-width: 767px) {
  .goes {
    order: 1;
    grid-column: span 2;
  }
}
